<div class="classic-form-page">
    <navbar navStyle="align-items: center; justify-content: center;" position="top" dark href="#" transparent scrolling>
        <navbar-collapse style="max-width: 1140px">
        <a class="navbar-brand" href="#">
            <strong>Intellitix</strong>
        </a>
        <navbar-nav>
            <navbar-item href="#" waves-fixed active>Home</navbar-item>
            <navbar-item href="#" waves-fixed>Features</navbar-item>
            <navbar-item href="#" waves-fixed>Pricing</navbar-item>
        </navbar-nav>
        <!-- Search form -->
        <form>
            <md-input type="text" class="text-white" placeholder="Search" aria-label="Search" label navInput waves waves-fixed/>
        </form>
        </navbar-collapse>
    </navbar>

    <view-wrapper>
        <md-mask class="d-flex gradient justify-content-center align-items-center">
        <container class="d-flex justify-content-center align-items-center">
            <column xl="5" class="mb-4">
            <card id="classic-card">
                <card-body class="z-depth-2 white-text">
                <h3 class="text-center">Forgot Password</h3>
                <hr class="hr-dark" />
                <form @submit.prevent="Submit">
                    <md-input type="email" label="Your Email" id="email" v-model="form.email" />
                    <div class="text-center mt-3">
                    <btn type="submit" color="indigo" >Send</btn>
                    </div>
                </form>
                </card-body>
            </card>
            </column>
        </container>
        </md-mask>
    </view-wrapper>
</div>
  