<div class="classic-form-page">
    <navbar navStyle="align-items: center; justify-content: center;" position="top" dark href="#" transparent scrolling>
      <navbar-collapse style="max-width: 1140px">
        <a class="navbar-brand" href="#">
          <strong>Intellitix</strong>
        </a>
        <navbar-nav>
          <navbar-item href="#" waves-fixed active>Home</navbar-item>
          <navbar-item href="#" waves-fixed>Features</navbar-item>
          <navbar-item href="#" waves-fixed>Pricing</navbar-item>
        </navbar-nav>
        <!-- Search form -->
        <form>
          <md-input type="text" class="text-white" placeholder="Search" aria-label="Search" label navInput waves waves-fixed/>
        </form>
      </navbar-collapse>
    </navbar>
  
    <view-wrapper>
      <md-mask class="d-flex gradient justify-content-center align-items-center">
      </md-mask>
    </view-wrapper>
  </div>