.classic-form-page .view {
    background-image: url('http://mdbootstrap.com/img/Photos/Others/images/91.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
  }
  
  .classic-form-page .gradient {
    background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%);
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%);
  }
  
  .classic-form-page .card {
    background-color: rgba(126, 123, 215, 0.2);
  }
  
  .classic-form-page h6 {
    line-height: 1.7;
  }
  
  .classic-form-page .navbar {
    transition: background .5s ease-in-out, padding .5s ease-in-out;
  }
  
  .classic-form-page .navbar .md-form {
    margin: 0;
  
  }
  .classic-form-page .md-form .form-control {
    color:whitesmoke;
  }
  .top-nav-collapse {
    background: #424f95 !important;
  }
  
  @media (max-width: 768px) {
    .classic-form-page .navbar:not(.top-nav-collapse) {
      background: #424f95 !important;
    }
  }
  
  .classic-form-page label {
    color: rgba(82, 236, 247, 0.966) !important;
  }