<template>
  <router-view v-if="query1 === 'intent'" ></router-view>
  <router-view v-else name= "a"></router-view>
</template>

<script>
export default {
  name: 'App',
  data () {
    return {
        query1: sessionStorage.getItem('token')
    }
  }
}
</script>

